@model FreshersPool1.Models.EM_EmployerData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>EM_EmployerData</legend>

    <div class="display-label">EmployerID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployerID)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Login</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">HeadQuarters</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HeadQuarters)
    </div>

    <div class="display-label">Founder</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Founder)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Domain</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Domain)
    </div>

    <div class="display-label">Logo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Logo)
    </div>

    <div class="display-label">Website</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">CompanyEmail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyEmail)
    </div>

    <div class="display-label">ContactNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNumber)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
