@model IEnumerable<FreshersPool1.Models.CO_College>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            CollegeID
        </th>
        <th>
            CollegeName
        </th>
        <th>
            CollegeCode
        </th>
        <th>
            CollegeEmail
        </th>
        <th>
            Website
        </th>
        <th>
            YearStarted
        </th>
        <th>
            TpoName
        </th>
        <th>
            TpoMobile
        </th>
        <th>
            TpoEmail
        </th>
        <th>
            CollegePhone
        </th>
        <th>
            Status
        </th>
        <th>
            Login
        </th>
        <th>
            Password
        </th>
        <th>
            AddressLine1
        </th>
        <th>
            AddressLine2
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Pin
        </th>
        <th>
            CollegeLogo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CollegeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollegeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollegeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollegeEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearStarted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TpoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TpoMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TpoEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollegePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollegeLogo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
